includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - support/
        - tests/
    level: 5
    excludePaths:
        - vendor/
    checkMissingIterableValueType: false